node_modules
packages/**/*
.editorconfig
.gitignore
package-lock.json
README.md
.scannerwork
!packages/nest/package.json

!packages/nest/nest-cli.json
!packages/nest/src/**/*
!packages/nest/dist/**/*
!packages/nest/tslint.json
!packages/nest/tools

