.git
.build
DerivedData
Package.resolved
*.xcodeproj
node_modules
packages/**/*
.editorconfig
.gitignore
package-lock.json
README.md
.scannerwork

!packages/gin-basic/**/*
!packages/hello-php/**/*
!packages/hello-python3/**/*
!packages/HelloVapor/**/*

!packages/nest/*.json
!packages/nest/src
!packages/nest/dist

